Homestead.yaml
Homestead.json
.env
.idea
.vscode
/resources/assets/_gulp-builder/node_modules
/resources/assets/_gulp-builder/bower_components
/packages
/resources/assets/_gulp-builder/.sass-cache
/storage/debugbar
/vendor/
/resources/asset/_gulp-builder/bower_components/
/resources/asset/_gulp-builder/node_modules/
/resources/asset/_gulp-builder/.sass-cache/
/resources/asset/_gulp-builder/yarn-error.log
/packages/
.mysql/
.home/
.service-main/.home
.service-main/.letsencrypt
.service-main/.lib-letsencrypt
.service-main/.ssl
.service-main/.mysql
.ftp-service/vsftpd.userlist
.docker/ftp/vsftpd.userlist
/public_html/webmagic/products/img
